@charset "UTF-8";
/*------------------------------------------------------------*/
html {
  font-size: 125%;
  font-family: "zen-kaku-gothic-antique", sans-serif;
  font-weight: normal;
  letter-spacing: 0.1em;
}
@media (max-width: 960px) {
  html {
    font-size: 100%;
  }
}

.main {
  background-color: #fcfdf5;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 0.5em 0;
  background-color: #fcfdf5;
  font-size: 0.9rem;
  font-family: "fot-tsukubrdgothic-std", sans-serif;
}
.header__inner {
  max-width: 1480px;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}
.header__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 960px) {
  .header__row {
    display: block;
  }
}
.header__logo {
  width: 7%;
}
@media (max-width: 960px) {
  .header__logo {
    width: 14%;
  }
}
@media (max-width: 600px) {
  .header__logo {
    width: 20%;
  }
}
.header__nav {
  width: 45%;
  display: block;
}
@media (max-width: 960px) {
  .header__nav {
    display: none;
  }
}
.header__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.header__item {
  padding: 0 1em;
  font-size: rem(18);
  line-height: 1.7;
  font-weight: bold;
}
.header__insta {
  width: 14%;
}

.footer {
  background-color: #9b7b6c;
  color: #fff;
  padding: 3em 0;
}
.footer__copy {
  font-size: 0.8rem;
  text-align: center;
}

.groud {
  background-color: #3fa037;
}

.visual {
  width: 100%;
  height: 100vh;
  position: relative;
  padding: 6em 0;
}
.visual__inner {
  max-width: 1480px;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
.visual__imgbox {
  width: calc(100% - 10vw);
  height: 80vh;
  margin: 0 auto;
  position: relative;
}
.visual__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 8rem;
  position: absolute;
  opacity: 0;
  transition: all 1s ease-in-out;
}
.visual__title {
  position: absolute;
  left: 14%;
  top: 21%;
  writing-mode: vertical-rl;
  font-family: "fot-tsukubrdgothic-std", sans-serif;
  font-weight: normal;
  font-size: 2.5rem;
  background-color: #fff;
  padding: 0.92em 0.44em;
  box-shadow: 10px 10px 0px #a7de8c;
  text-align: right;
  z-index: 3;
  border-radius: 15px;
}
@media (max-width: 960px) {
  .visual__title {
    font-size: 1.875rem;
    padding: 1.5333333333em 0.7333333333em;
  }
}
.visual__plant {
  position: absolute;
  left: 5%;
  bottom: 0;
  width: 30%;
}
@media (max-width: 960px) {
  .visual__plant {
    width: 35%;
  }
}
.visual__plant-s {
  position: absolute;
  right: 5%;
  bottom: 0;
  width: 20%;
}
@media (max-width: 960px) {
  .visual__plant-s {
    width: 42%;
  }
}
@media (max-width: 600px) {
  .visual__plant-s {
    width: 50%;
  }
}
.visual__circle {
  position: absolute;
  right: 3%;
  top: 20%;
  width: 15%;
}
@media (max-width: 960px) {
  .visual__circle {
    width: 20%;
  }
}
.visual__circle-s {
  position: absolute;
  right: 3%;
  top: 40%;
  width: 100px;
  height: 100px;
  background-color: #3fa037;
  opacity: 0.5;
  border-radius: 50%;
}
@media (max-width: 960px) {
  .visual__circle-s {
    width: 80px;
    height: 80px;
  }
}
.visual__circle-t {
  position: absolute;
  left: 3%;
  top: 50%;
  width: 110px;
  height: 110px;
  background-color: #3fa037;
  opacity: 0.5;
  border-radius: 50%;
}
@media (max-width: 960px) {
  .visual__circle-t {
    width: 60px;
    height: 60px;
    top: 65%;
  }
}

.info {
  background-color: #d5ead8;
  padding: 4.5em 0;
}
.info__inner {
  max-width: 1480px;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.news {
  margin-bottom: 4.5em;
}
.news__title {
  text-align: center;
  font-family: "fot-tsukubrdgothic-std", sans-serif;
  font-size: 2rem;
  margin-bottom: 0.5em;
}
.news__address {
  text-align: center;
  font-weight: bold;
  font-size: 1.3rem;
  margin-bottom: 1.2307692308em;
}
.news__detail {
  text-align: center;
  margin-bottom: 1.5em;
}
.news__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3em;
}
@media (max-width: 600px) {
  .news__row {
    display: block;
  }
}
.news__article {
  width: 24vw;
}
@media (max-width: 600px) {
  .news__article {
    width: 100%;
    margin-bottom: 1.25em;
  }
}
.news__imgbox {
  margin-bottom: 1em;
  width: 100%;
  height: 24vw;
}
@media (max-width: 600px) {
  .news__imgbox {
    height: 40vh;
  }
}
.news__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.news__btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  margin: 0 auto;
  width: 300px;
  text-align: center;
  padding: 1em;
  background-color: #90ad66;
  border-radius: 15px;
}
.news__insta {
  width: 16%;
}

.calendar__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 960px) {
  .calendar__row {
    display: block;
  }
}
.calendar__detail {
  width: 40%;
}
@media (max-width: 960px) {
  .calendar__detail {
    display: none;
  }
}
.calendar__btnbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2em;
  justify-content: flex-start;
}
.calendar__btn {
  padding: 0.8em 0.6em;
  background-color: #90ad66;
  border-radius: 8px;
  font-weight: bold;
}
.calendar__btn:first-child {
  margin-right: 2em;
}
.calendar__content {
  width: 50%;
}
@media (max-width: 960px) {
  .calendar__content {
    width: 100%;
  }
}
.calendar__title {
  text-align: center;
  font-family: "fot-tsukubrdgothic-std", sans-serif;
  font-size: 2rem;
  margin-bottom: 0.5em;
}
.calendar__box {
  width: 100%;
  height: 400px;
}
.calendar__explanation {
  line-height: 1.8;
}
.calendar__explanation-t {
  line-height: 1.8;
  display: none;
  margin-bottom: 0.5em;
}
@media (max-width: 960px) {
  .calendar__explanation-t {
    display: block;
  }
}

.consept {
  padding: 4.5em 0;
}
.consept__inner {
  max-width: 1480px;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}
.consept__note {
  margin-bottom: 4em;
}
.consept__catch {
  text-align: center;
  font-size: 2rem;
  font-weight: normal;
  margin-bottom: 1em;
}
.consept__detail {
  width: 70%;
  margin: 0 auto;
  letter-spacing: 0.1em;
  line-height: 1.8;
}
@media (max-width: 960px) {
  .consept__detail {
    width: 100%;
  }
}
.consept__imgbox {
  width: 50%;
  height: 65vh;
}
@media (max-width: 960px) {
  .consept__imgbox {
    width: 100%;
    height: 100%;
    margin-bottom: 1.25em;
  }
}
.consept__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.consept__txbox {
  width: 50%;
  padding: 5vw;
  position: relative;
}
.consept__txbox::after {
  position: absolute;
  top: 0;
  right: 30px;
  z-index: -1;
  color: #d5ead8;
  font-size: 7.5rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.04em;
}
@media (max-width: 960px) {
  .consept__txbox::after {
    right: 0%;
    font-size: 6.25rem;
  }
}
@media (max-width: 960px) {
  .consept__txbox {
    width: 100%;
    padding: 0;
  }
}
.consept__title {
  font-family: "fot-tsukubrdgothic-std", sans-serif;
  font-size: 1.4rem;
  line-height: 1.6em;
  margin-bottom: 1em;
}
.consept__text {
  font-size: 0.8rem;
  line-height: 2.3;
}

.gallery {
  background-color: #bcd267;
  padding: 4.5em 0;
  color: #755514;
}
.gallery__inner {
  max-width: 1480px;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}
.gallery__title {
  font-size: 2rem;
  font-family: "fot-tsukubrdgothic-std", sans-serif;
  text-align: center;
  margin-bottom: 1em;
}
.gallery__detail {
  margin: 0 auto 4em auto;
  text-align: center;
  line-height: 1.8;
  letter-spacing: 0.1em;
}
.gallery__catch {
  font-size: 1.5rem;
  font-family: "fot-tsukubrdgothic-std", sans-serif;
  margin-bottom: 1em;
}
.gallery__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5em;
}
.gallery__item {
  width: 25vw;
  height: 25vw;
  margin-bottom: 1.5em;
}
@media (max-width: 960px) {
  .gallery__item {
    width: 40vw;
    height: 40vw;
  }
}
.gallery__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 30px;
}
.gallery__btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  margin: 0 auto;
  width: 300px;
  text-align: center;
  padding: 1em;
  background-color: #90ad66;
  border-radius: 15px;
}

.contact {
  padding: 10em 0;
}
.contact__inner {
  max-width: 1480px;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}
.contact__content {
  position: relative;
}
.contact__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 3.5em;
  background-color: #3fa037;
  border-radius: 2vw;
}
@media (max-width: 960px) {
  .contact__row {
    display: block;
    padding: 1.25em;
  }
}
.contact__textbox {
  width: 46%;
  color: #fff;
}
@media (max-width: 960px) {
  .contact__textbox {
    width: 100%;
    margin-bottom: 2em;
  }
}
.contact__title {
  border-bottom: 1px solid;
  padding-bottom: 1.8em;
  margin-bottom: 1.8em;
}
.contact__top {
  font-size: 1.7rem;
}
@media (max-width: 960px) {
  .contact__top {
    font-size: 1.25rem;
  }
}
.contact__middle {
  font-size: 2rem;
}
@media (max-width: 960px) {
  .contact__middle {
    font-size: 1.625rem;
  }
}
.contact__bottom {
  font-size: 1.2rem;
}
@media (max-width: 960px) {
  .contact__bottom {
    font-size: 1.125rem;
  }
}
.contact__catch {
  font-size: 0.9rem;
  margin-bottom: 1em;
}
@media (max-width: 960px) {
  .contact__catch {
    font-size: 1rem;
  }
}
.contact__text {
  font-size: 0.8rem;
  font-size: 0.875rem;
}
.contact__box {
  width: 48%;
}
@media (max-width: 960px) {
  .contact__box {
    width: 100%;
  }
}
.contact__app {
  border-radius: 50%;
  background-color: #fff;
  width: 300px;
  height: 300px;
  padding: 3em;
  margin-right: auto;
}
@media (max-width: 960px) {
  .contact__app {
    margin: 0 auto;
    width: 280px;
    height: 280px;
  }
}
.contact__inquiry {
  font-size: 0.8rem;
  text-align: center;
  margin-bottom: 1em;
}
@media (max-width: 960px) {
  .contact__inquiry {
    font-size: 1rem;
  }
}
.contact__logo {
  width: 30%;
  margin: 0 auto 0.5em auto;
}
.contact__annotation {
  font-size: 0.6rem;
  text-align: center;
}
@media (max-width: 960px) {
  .contact__annotation {
    font-size: 0.75rem;
  }
}
.contact__img {
  position: absolute;
  bottom: 0;
  right: 2%;
  width: 25%;
}
@media (max-width: 960px) {
  .contact__img {
    position: relative;
    width: 42%;
    margin: 0 auto;
    display: block;
  }
}
@media (max-width: 600px) {
  .contact__img {
    width: 80%;
  }
}

.access {
  padding: 4.5em 0;
  background-color: #3fa037;
  border-radius: 5% 5% 0 0;
  color: #fff;
  font-family: "fot-tsukubrdgothic-std", sans-serif;
}
.access__inner {
  max-width: 1480px;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}
.access__title {
  font-size: 2rem;
  margin-bottom: 1em;
}
.access__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-items: flex-start;
}
@media (max-width: 960px) {
  .access__row {
    display: block;
  }
}
.access__content {
  width: 50%;
}
@media (max-width: 960px) {
  .access__content {
    width: 100%;
  }
}
.access__info {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid #fff;
  padding-top: 2em;
  margin-bottom: 2em;
}
@media (max-width: 960px) {
  .access__info {
    font-size: 0.875rem;
  }
}
.access__note {
  width: 18%;
  color: #3fa037;
  background-color: #fff;
  text-align: center;
  height: 30px;
  border-radius: 6px;
  margin-right: 2em;
}
@media (max-width: 960px) {
  .access__note {
    width: 24%;
  }
}
@media (max-width: 960px) {
  .access__text {
    width: 60%;
  }
}
.access__google {
  width: 35vw;
  height: 35vw;
}
@media (max-width: 960px) {
  .access__google {
    width: 100%;
    height: 80vw;
  }
}

.t-gallery {
  padding: 5.5em 0;
  background-color: #fcfdf5;
}
.t-gallery__inner {
  max-width: 1480px;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}
.t-gallery__title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2em;
  font-family: "fot-tsukubrdgothic-std", sans-serif;
}
.t-gallery__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 960px) {
  .t-gallery__list {
    display: block;
  }
}
.t-gallery__item {
  width: 26%;
  margin-bottom: 2.5em;
}
@media (max-width: 960px) {
  .t-gallery__item {
    width: 100%;
  }
}
.t-gallery__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.swiper-slide:nth-child(1) .consept__txbox::after {
  content: "01";
}
.swiper-slide:nth-child(2) .consept__txbox::after {
  content: "02";
}
.swiper-slide:nth-child(3) .consept__txbox::after {
  content: "03";
}
.swiper-slide:nth-child(4) .consept__txbox::after {
  content: "04";
}
.swiper-slide:nth-child(5) .consept__txbox::after {
  content: "05";
}
@media (max-width: 960px) {
  .swiper {
    display: block;
  }
}

.swiper-button-next {
  color: #ff0000; /* 次へボタンの文字色 */
  font-size: 1rem;
}

.swiper-button-prev {
  color: #00ff00; /* 前へボタンの文字色 */
  font-size: 1rem;
}

/* ハンバーガーボタン */
.spmenu {
  height: 100vh;
  background-color: #fff;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  top: 0;
  right: 0;
  transform: translate(100vw, 0);
  transition: 0.6s ease-in-out;
  opacity: 0.9;
  z-index: 999;
  visibility: hidden;
}
@media (max-width: 960px) {
  .spmenu {
    visibility: visible;
  }
}
.spmenu__nav {
  padding: 0;
  list-style: none;
}
.spmenu__navlist {
  margin: 2em 0;
  text-align: center;
}
.spmenu__navlist ::after {
  display: block;
  font-size: rem(14);
  text-align: center;
}
.spmenu__link {
  color: #000;
  font-size: rem(18);
  font-weight: bold;
}
.spmenu__visible {
  transform: translate(0, 0);
  transition: 0.6s ease-in-out;
  transition-delay: 0.1s;
}

.burgerbtn {
  position: fixed;
  display: block;
  width: 50px;
  height: 50px;
  top: 2%;
  right: 8%;
  z-index: 999;
  visibility: hidden;
}
@media (max-width: 960px) {
  .burgerbtn {
    visibility: visible;
    top: 4%;
  }
}
@media (max-width: 600px) {
  .burgerbtn {
    top: 2%;
  }
}
.burgerbtn__border {
  position: absolute;
  width: 32px;
  height: 3px;
  background-color: #000;
  transition: 0.6s;
  border-radius: 10px;
}
.burgerbtn__border:nth-child(1) {
  top: 13px;
  left: 11px;
}
.burgerbtn__border:nth-child(2) {
  top: 25px;
  left: 11px;
}
.burgerbtn__border:nth-child(3) {
  top: 37px;
  left: 11px;
}

.bordertop__open {
  transform: translateY(10px) rotate(45deg);
  transition: 0.6s;
}
.bordermiddle__open {
  opacity: 0;
  transform: translateX(-10px);
  transition: 0.6s;
}
.borderbottom__open {
  transform: translateY(-14px) rotate(-45deg);
  transition: 0.6s;
}
/*# sourceMappingURL=style.css.map */